<?xml version="1.0" encoding="utf-8" ?>
<commonGateway>
  <requestUrl>
    <url name="BaggageState" desc="수하물 현황정보 조회" url="http://192.168.2.99:4080/dcs/{airlineCd}/baggagestate"/>
    <url name="BaggagePolicy" desc="수하물 정책정보 조회" url="http://192.168.2.99:4080/dcs/{airlineCd}/baggagepolicy"/>
    <url name="Baggage" desc="수하물 인식표 발급요청" url="http://192.168.2.99:4080/dcs/{airlineCd}/baggage"/>
    <url name="ChangeBaggageStatus" desc="수하물 인식표 상태변경" url="http://192.168.2.99:4080/dcs/{airlineCd}/baggage/{baggageTagId}/indicator"/>

    <url name="CreateBaggageDropHistory" desc="수하물 위탁 이력 등록" url="http://192.168.2.99:4080/machine/{machineId}/device/bagdropHistoryCreate"/>
    <url name="CreateEventHistory" desc="장비 상태 등록" url="http://192.168.2.99:4080/machine/{machineId}/device/{deviceId}/eventhistory"/>
    <url name="CreateErrorHistory" desc="장비 장애 이력 생성" url="http://192.168.2.99:4080/machine/{machineId}/device/{deviceId}/errorhistory"/>

    <!--<url name="UpdateEventHistory" desc="장비 상태 업데이트" url="http://192.168.2.99:4080/machine/{machineId}/device/{deviceId}/eventhistory"/>
    <url name="RecoverErrorHistory" desc="장비 장애 복구" url="http://192.168.2.99:4080/machine/{machineId}/device/{deviceId}/errorhistory"/>
    <url name="OccuredErrorCount" desc="장비 장애 개수 조회(복구된 장애는 제외)" url="http://192.168.2.99:4080/machine/{machineId}/device/{deviceId}/errorhistory/occuredcount"/>
    <url name="UpdateMachineState" desc="장비 장애 개수 조회(복구된 장애는 제외)" url="http://192.168.2.99:4080/machine/{machineId}"/>
    
    <url name="DetailEventInfo" desc="이벤트 상세 정보" url="http://192.168.2.99:4080/event/{eventNo}"/>
    <url name="DetailErrorInfo" desc="장애 상세 정보" url="http://192.168.2.99:4080/error/{errorNo}"/>-->
    
    <url name="BhsBagState" desc="수하물 상태 조회" url="http://192.168.2.99:4080/bhs/{machineId}/bagstate"/>
    <url name="UpdateBhsBagState" desc="수하물 상태 변경" url="http://192.168.2.99:4080/bhs/{machineId}/bagstate/{bagstate}"/>    
  </requestUrl>
</commonGateway>