<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="iBeautyNailApp" />
  <assembly name="iBeautyNailLib" />
  <alias alias="string" type="System.String, mscorlib" />
  
  <!-- UI -->
  <alias alias="IBaseViewModel" type="iBeautyNail.ViewModel.IBaseViewModel, iBeautyNailApp" />  
  <alias alias="M000_InitViewModel" type="iBeautyNail.ViewModel.M000_InitViewModel, iBeautyNailApp" />
  <alias alias="M100_StartPageViewModel" type="iBeautyNail.ViewModel.M100_StartPageViewModel, iBeautyNailApp" />
  <alias alias="M110_IBeautyNailInfoViewModel" type="iBeautyNail.ViewModel.M110_IBeautyNailInfoViewModel, iBeautyNailApp" />
  <alias alias="M200_SelectDesignViewModel" type="iBeautyNail.ViewModel.M200_SelectDesignViewModel, iBeautyNailApp" />
  <alias alias="M300_SelectPaymentViewModel" type="iBeautyNail.ViewModel.M300_SelectPaymentViewModel, iBeautyNailApp" />
  <alias alias="M400_CardPaymentViewModel" type="iBeautyNail.ViewModel.M400_CardPaymentViewModel, iBeautyNailApp" />
  <alias alias="M410_EjectCardViewModel" type="iBeautyNail.ViewModel.M410_EjectCardViewModel, iBeautyNailApp" />
  <alias alias="M500_PrintReceiptViewModel" type="iBeautyNail.ViewModel.M500_PrintReceiptViewModel, iBeautyNailApp" />
  <alias alias="M600_PrintNailStickerViewModel" type="iBeautyNail.ViewModel.M600_PrintNailStickerViewModel, iBeautyNailApp" />
  <alias alias="M700_FinishViewModel" type="iBeautyNail.ViewModel.M700_FinishViewModel, iBeautyNailApp" />
  <alias alias="M060_MessagePopupViewModel" type="iBeautyNail.ViewModel.M060_MessagePopupViewModel, iBeautyNailApp" />
  <alias alias="M070_LanguageViewModel" type="iBeautyNail.ViewModel.M070_LanguageViewModel, iBeautyNailApp" />
  <alias alias="Q200_QRScanViewModel" type="iBeautyNail.ViewModel.Q200_QRScanViewModel, iBeautyNailApp" />
  <alias alias="Q300_SelectImageViewModel" type="iBeautyNail.ViewModel.Q300_SelectImageViewModel, iBeautyNailApp" />
  <alias alias="E400_ErrorBaseViewModel" type="iBeautyNail.ViewModel.E400_ErrorBaseViewModel, iBeautyNailApp" />
  <alias alias="A000_AdminLoginViewModel" type="iBeautyNail.ViewModel.A000_AdminLoginViewModel, iBeautyNailApp" />
  <alias alias="A010_AdminBaseViewModel" type="iBeautyNail.ViewModel.A010_AdminBaseViewModel, iBeautyNailApp" />
  <alias alias="A020_AdminPopupViewModel" type="iBeautyNail.ViewModel.A020_AdminPopupViewModel, iBeautyNailApp" />
  <alias alias="U100_UsageViewModel" type="iBeautyNail.ViewModel.U100_UsageViewModel, iBeautyNailApp" />

  <!-- Device -->
  <alias alias="IRexodReceiptPrinter" type="iBeautyNail.Devices.ReceiptPrinter.IRexodReceiptPrinter, iBeautyNailLib" />
  <alias alias="RexodReceiptPrinter" type="iBeautyNail.Devices.ReceiptPrinter.RexodReceiptPrinter, iBeautyNailLib" />
  <alias alias="IHwasungReceiptPrinter" type="iBeautyNail.Devices.ReceiptPrinter.IHwasungReceiptPrinter, iBeautyNailLib" />
  <alias alias="HwasungReceiptPrinter" type="iBeautyNail.Devices.ReceiptPrinter.HwasungReceiptPrinter, iBeautyNailLib" />
  <alias alias="ReceiptPrinter" type="iBeautyNail.SDK.Device.Printer.ReceiptPrinter, iBeautyNailLib" />

  <alias alias="IEpsonNailPrinter" type="iBeautyNail.Devices.NailPrinter.IEpsonNailPrinter, iBeautyNailLib" />
  <alias alias="EpsonNailPrinter" type="iBeautyNail.Devices.NailPrinter.EpsonNailPrinter, iBeautyNailLib" />
  <alias alias="NailPrinter" type="iBeautyNail.SDK.Device.Printer.NailPrinter, iBeautyNailLib" />

  <alias alias="IEasyCheckCardReader" type="iBeautyNail.Devices.CardReader.IEasyCheckCardReader, iBeautyNailLib" />
  <alias alias="EasyCheckCardReader" type="iBeautyNail.Devices.CardReader.EasyCheckCardReader, iBeautyNailLib" />
  <alias alias="CardPayment" type="iBeautyNail.SDK.Device.Payment.CardPayment, iBeautyNailLib" />

  <!-- Containers -->
  <containers>
    <container name="UI">
      <register type="IBaseViewModel" mapTo="M000_InitViewModel" name="M000_InitViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="M100_StartPageViewModel" name="M100_StartPageViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="M110_IBeautyNailInfoViewModel" name="M110_IBeautyNailInfoViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="M200_SelectDesignViewModel" name="M200_SelectDesignViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="M300_SelectPaymentViewModel" name="M300_SelectPaymentViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="M400_CardPaymentViewModel" name="M400_CardPaymentViewModel">
        <lifetime type="singleton" />
      </register>
      
      <register type="IBaseViewModel" mapTo="M410_EjectCardViewModel" name="M410_EjectCardViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="M500_PrintReceiptViewModel" name="M500_PrintReceiptViewModel">
        <lifetime type="singleton" />
      </register>
      
      <register type="IBaseViewModel" mapTo="M600_PrintNailStickerViewModel" name="M600_PrintNailStickerViewModel">
        <lifetime type="singleton" />
      </register>
      
      <register type="IBaseViewModel" mapTo="M700_FinishViewModel" name="M700_FinishViewModel">
        <lifetime type="singleton" />
      </register>
      
      <register type="IBaseViewModel" mapTo="M060_MessagePopupViewModel" name="M060_MessagePopupViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="M070_LanguageViewModel" name="M070_LanguageViewModel">
        <lifetime type="singleton" />
      </register>
      
      <register type="IBaseViewModel" mapTo="Q200_QRScanViewModel" name="Q200_QRScanViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="Q300_SelectImageViewModel" name="Q300_SelectImageViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="E400_ErrorBaseViewModel" name="E400_ErrorBaseViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="A000_AdminLoginViewModel" name="A000_AdminLoginViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="A010_AdminBaseViewModel" name="A010_AdminBaseViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="A020_AdminPopupViewModel" name="A020_AdminPopupViewModel">
        <lifetime type="singleton" />
      </register>

      <register type="IBaseViewModel" mapTo="U100_UsageViewModel" name="U100_UsageViewModel">
        <lifetime type="singleton" />
      </register>
    </container>

    <container name="Device">
      <!-- Receipt Printer -->
      <register type="IRexodReceiptPrinter" mapTo="RexodReceiptPrinter" name="RexodReceiptPrinter">
        <lifetime type="singleton" />
        <property name="Port" value="USB" />
        <property name="BaudRate" value="115200" />
        <property name="FlowControl" value="1" />
      </register>

      <register type="IHwasungReceiptPrinter" mapTo="HwasungReceiptPrinter" name="HwasungReceiptPrinter">
        <lifetime type="singleton" />
        <property name="Port" value="USB" />
        <property name="BaudRate" value="19200" />
        <property name="FlowControl" value="1" />
      </register>

      <register type="ReceiptPrinter" name="ReceiptPrinter">
        <lifetime type="singleton" />
        <property name="Printer" dependencyName="HwasungReceiptPrinter" dependencyType="IHwasungReceiptPrinter" />
      </register>
      <!-- Receipt Printer -->

      <!-- Nail Printer -->
      <register type="IEpsonNailPrinter" mapTo="EpsonNailPrinter" name="EpsonNailPrinter">
        <lifetime type="singleton" />
        <property name="PartnerDrvPath" value="C:\PartnerDRV\PartnerDRV.exe" />
        <property name="PrintInkLimitPath" value="C:\PartnerDRV\Setting\print.ini" />
        <property name="PrintTemplatePath" value="C:\PartnerDRV\Setting\Template.ini" />
        <property name="TempResultPath" value="C:\nails\temp\result.png" />
        <property name="ResultPath" value="C:\nails\result\result.png" />
        <property name="BackupPath" value="C:\nails\backup\result.png" />
        <property name="NailPrinterManagerPath" value="C:\pmngr\NailPrinterManager.exe" />
        <property name="QrDataPath" value="nailpan" />
      </register>
      
      <register type="NailPrinter" name="NailPrinter">
        <lifetime type="singleton" />
        <property name="Printer" dependencyName="EpsonNailPrinter" dependencyType="IEpsonNailPrinter" />
      </register>
      <!-- Nail Printer -->

      <!-- Payment -->
      <register type="IEasyCheckCardReader" mapTo="EasyCheckCardReader" name="EasyCheckCardReader">
        <lifetime type="singleton" />
        <property name="Url" value="http://127.0.0.1:8090/" />
        <property name="Method" value="POST" />
        <property name="Callback" value="jsonp12345678983543344" />
      </register>

      <register type="CardPayment" name="CardPayment">
        <lifetime type="singleton" />
        <property name="Payment" dependencyName="EasyCheckCardReader" dependencyType="IEasyCheckCardReader" />
      </register>
      <!-- Payment -->
    </container>
  </containers>
</unity>