<?xml version="1.0" encoding="utf-8" ?>
<mcu>
  <serialPorts>
    <serialPort name="TXRX"
                portName="COM7"
                baudRate="115200"
                dataBits="8"
                parity="None"
                stopBits="One"
                readTimeout="500"
                writeTimeout="500"
                stx="0x02"
                etx="0x03"
                rtx="0x04" />

    <!--<serialPort name="RX"
                portName="COM6"
                baudRate="115200"
                dataBits="8"
                parity="None"
                stopBits="One"
                readTimeout="500"
                writeTimeout="500"
                stx="0x02"
                etx="0x03"
                rtx="0x04" />-->
  </serialPorts>
</mcu>