<?xml version="1.0" encoding="utf-8" ?>
<pageNavigation>
  <defaultTimeout enable="true" timeout="60" page="M100_StartPageViewModel" />
  <pages>
    <page name="MainViewModel" next="M000_InitViewModel" >
      <timeout enable="false" />
    </page>
    <page name="M000_InitViewModel" next="M100_StartPageViewModel">
      <timeout enable="false" />
    </page>
    <page name="M100_StartPageViewModel" next="M200_SelectDesignViewModel" >
      <!--<timeout enable="true" timeout="180" page="M110_IBeautyNailInfoViewModel" />-->
      <timeout enable="false" />
    </page>
    <page name="M110_IBeautyNailInfoViewModel" next="M100_StartPageViewModel" >
      <timeout enable="false" />
    </page>
    <page name="M200_SelectDesignViewModel" next="M300_SelectPaymentViewModel" prev="M100_StartPageViewModel">
      <timeout enable="true" timeout="90" page="M100_StartPageViewModel" />
    </page>
    <page name="M300_SelectPaymentViewModel" next="M400_CardPaymentViewModel" prev="M200_SelectDesignViewModel">
      <timeout enable="false" />
    </page>
    <page name="M400_CardPaymentViewModel" next="M500_PrintReceiptViewModel" prev="M300_SelectPaymentViewModel">
      <timeout enable="false" />
    </page>
    <page name="M500_PrintReceiptViewModel" next="M410_EjectCardViewModel">
      <timeout enable="true" timeout="3" page="M410_EjectCardViewModel" />
    </page>
    <page name="M410_EjectCardViewModel" next="M600_PrintNailStickerViewModel">
      <timeout enable="false" />
    </page>
    <page name="M600_PrintNailStickerViewModel" next="M700_FinishViewModel" prev="M500_PrintReceiptViewModel">
      <timeout enable="false" />
    </page>
    <page name="M700_FinishViewModel" next="M100_StartPageViewModel" prev="M600_PrintNailStickerViewModel">
      <timeout enable="true" timeout="10" page="M100_StartPageViewModel" />
    </page>
    <page name="M070_LanguageViewModel" />
    <page name="Q200_QRScanViewModel" next="Q300_SelectImageViewModel">
      <!--<timeout enable="false" />-->
      <timeout enable="true" timeout="30" page="M100_StartPageViewModel" />
      <!--<popup button0="Q300_SelectImageViewModel" quantity="0" popuptime="20"/>-->
    </page>
    <page name="Q300_SelectImageViewModel" next="M400_CardPaymentViewModel" prev="Q200_QRScanViewModel">
      <timeout enable="true" timeout="600" page="M100_StartPageViewModel" />
      <popup quantity="0" popuptime="30"/>
    </page>
    <page name="E400_ErrorBaseViewModel" next="M100_StartPageViewModel" >
      <timeout enable="false" />
    </page>
    <page name="A000_AdminLoginViewModel" next="A010_AdminBaseViewModel" prev="M100_StartPageViewModel">
      <timeout enable="true" timeout="10" page="M100_StartPageViewModel" />
    </page>
    <page name="A010_AdminBaseViewModel">
      <timeout enable="false" />
      <popup quantity="0" popuptime="30000"/>
    </page>
    <page name="A020_AdminPopupViewModel" next="A010_AdminBaseViewModel" >
      <timeout enable="false"/>
    </page>
    <page name="U100_UsageViewModel" prev="M100_StartPageViewModel">
      <timeout enable="true" timeout="60" page="M100_StartPageViewModel" />
    </page>
    
    <!-- Sample -->
    <!--<page name="Init"
          class="Selfpass.ViewModel.Init, SelfpassApp"
          next="Standby" nextMethod="CanNext"
          prev="Selection" prevMethod="CanPrev" />
    <page name="Standby" next="Selection" prev="Init"/>
    <page name="Selection" next="Init" prev="Standby"/>-->
    <!-- //Sample -->
  </pages>

  <!--<popups>
    // [동작]
    // 버튼을 클릭하지 않으면 time값이 경과 후 버튼 클릭 동작처리
    //    버튼이 1개인 경우: button1Click 동작
    //    버튼이 2개인 경우: button2Click 동작
    //    버튼이 3개인 경우: button3Click 동작    
    // 
    // [config]
    // name 속성값은 유일해야 한다.
    // 속성 생략시 기본값 (buttonCount="1", time="5", button0Text="", button1Text="", button2Text="", button0Click="", button1Click="", button2Click="")
    //
    //    
    // 구현
    // PopupMessage()에서 name을 지정하지 않으면 기본형(버튼 1개에 CONFIRM 텍스트으로 표시되고 버튼 클릭시 페이지 이동없음)을 사용
    // PopupMessage()에서 name을 지정하면 <popup name=""/> 에 해당하는 설정으로 적용
    <popup name="BUTTON0" buttonCount="0" />
    <popup name="BUTTON00" buttonCount="0"
           button0Click="SomewhereViewModel" />

    <popup name="BUTTON1" buttonCount="1"
           button0Text="CONFIRM" />
    <popup name="BUTTON10" buttonCount="1"
           button0Text="CONFIRM" button0Click="SomewhereViewModel" />

    <popup name="BUTTON2" buttonCount="2"
           button1Text="PAYMENT" button0Click="BD0550_DangerInfoViewModel"
           button1Text="NO" button1Click="CM0010_StandbyViewModel" />
    <popup name="BUTTON3" buttonCount="3"
           button1Text="YES" button0Click="SomewhereViewModel"
           button1Text="NO" button1Click="SomewhereViewModel"
           button2Text="CANCEL" button2Click="SomewhereViewModel"/>
  </popups>-->
</pageNavigation>